<section>
    <div class = "bg"></div>
    <div class="logobox">
        <img class="logo" src="/images/Group 3.svg"/>
    </div>
</section>
{{!--<section>
    <div class="background">
        <img class="backgroundimg" src="/images/background.svg"/>\
    </div>
</section> --}}
<section>
    <div class="AboutMe">
    <p> Hey there! I'm an aspiring software engineer, currently studying my Bachelor of Design at 
        University of Melbourne, majoring in Computing. I am a problem solver at heart, but also love 
        to dabble in the creative side of graphic design, and with my
        experience in sales I would bring a unique blend of skills to any team.</p>
    </div>
</section>
