<div class = "container">
    <section>
        <div class = "bg"></div>
        <div class="logobox">
            <img class="logo" src="/images/Group 3.svg"/>
        </div>
    </section>
    <section id="About">
        <p> Hey there! My name is Sebastian Rey-Fleming. <br> <br> I'm an aspiring software engineer, currently studying my Bachelor of Design at 
            University of Melbourne, majoring in Computing. </p>
        <ul class="linklist">
            <li>
                <button class="github" onclick="window.open('https://github.com/SRFleming', '_blank')">
                    <i class="fa-brands fa-github fa-6x"></i>
                </button>
            </li>
            <li>
                <button class="linkedin" onclick="window.open('https://www.linkedin.com/in/sebastian-rey-fleming-3ba149190/', '_blank')">
                    <i class="fa-brands fa-linkedin fa-6x"></i>
                </button>
            </li>
            <li>
                <button class="instagram" onclick="window.open('https://www.instagram.com/sebreyfleming/', '_blank')">
                    <i class="fa-brands fa-instagram fa-6x"></i>
                </button>
            </li>
            <li>
                <button class="youtube" onclick="window.open('https://www.youtube.com/channel/UC2KkX3dlSXiHqB7rU3Rt1_Q', '_blank')">
                    <i class="fa-brands fa-youtube fa-6x"></i>
                </button>
            </li>
        </ul>
    </section>
    <section id="Projects">
        <button class="icon-button" onclick="window.open('https://github.com/ni-xon', '_blank')">
                <i class="contact-icon fab fa-github" aria-hidden="true"></i>
        </button>
    </section>
    <section id="Videos">
        <h1>Most Recent Video:</h1>
    </section>
    <section id="Photos">
        <h1>Photo Gallery</h1>
    </section>
</div>
