@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0;  
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.AboutMe {
    position: absolute;
    background-color: white;
    padding: 10px;  
    margin-top: 60vh;
    padding-bottom: 1000px;
}

p {
    font-family: 'Roboto Slab';
    font-size: 20px;
}

::-webkit-scrollbar {
    display: none;
  }

.logobox {
    display: flex;
    justify-content:center;
    padding-top: 40vh;
}

.logo {
    position: fixed;
    width: 400px;
}
