@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0;  
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Trebuchet MS';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 100vh;
}

section#About {
    background-color: #1B1464;
}

section#Projects {
    background-color: #9E005D;
}

section#Videos {
    background-color: #FBB03B;
}

section#Photos {
    background-color: #00750E;
}

p {
    color: white;
    font-size: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 10vh;
}

.linklist {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60vw;
    padding: 0;
    height: 100px;
}

button {
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    transition: transform 0.2s;
}

.instagram:hover {
    background: -webkit-linear-gradient(#C13584, #F56040);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transform:scale(1.1,1.1);
}

.youtube:hover {
    color: red;
    transform:scale(1.1,1.1);
}

.github:hover {
    color: grey;
    transform:scale(1.1,1.1);
}

.linkedin:hover {
    color: #0077B5;
    transform:scale(1.1,1.1);
}

::-webkit-scrollbar {
    display: none;
  }

.logobox {
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo {
    width: 400px;
}
